// === Defaults/resets === //

//=== COLOR RULES === //
// Color blocks
// Main navigation pages
$home-bg-color: #bbdee3;
$about-bg-color: #f58684;
$clip-bg-color: #556459;

// Main theme colors
$border-color-dark: #000;
$theme-darkest: #000;
$theme-lightest: #fff;
$border-color: rgba(120, 120, 120, 0.66);
$shadow-color: rgba(0, 0, 0, 0.66);

// Book detail pages
$splendiferous-bg-color: #bbdee3;
$founding-bg-color: #f09d69;
$slinging-bg-color: #906d99;
$turkey-bg-color: #6680bb;
$dewdroppers-bg-color: #f8a5ad;

// Link colors
$link-base-color: #000;
$link-hover-color: #fff;
$link-active-color: #000;

// Text colors
$text-color: #000;
$text-color-inverse: #fff;

// Nav link colors
$nav-link-base-color: #000;
$nav-link-hover-color: rgb(115, 115, 115);
$nav-link-active-color: rgb(115, 115, 115);

// Social colors
$linkedin-blue: #0077b5;
$twitter-blue: #1da1f2;
$goodreads-brown: #624234;

@mixin colorDecorator($color, $lightness) {
  background-color: $color;

  a {
    color: lighten($color, $lightness);

    &:hover {
      color: $theme-lightest;
    }
  }

  svg {
    fill: lighten($color, $lightness);

    &:hover {
      fill: $theme-lightest;
    }
  }
}
/* === END COLOR RULES === */

// Resets and base styles
$base-font-size: 17px;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  -ms-text-size-adjust: 100%; //iOS font-size fix
  -webkit-text-size-adjust: 100%; //iOS font-size fix
  background-color: #fff;
}

// HTML5 display reset
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

// === STANDARD ELEMENT RESETS === //
a:link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $link-base-color;
}

a:visited {
  color: $link-base-color;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

a:active {
  color: $link-active-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

fieldset {
  border: 1px solid #000;
  margin: 2px;
  padding: 1px;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  border: none;
}

// === TEXT AND FONT RULES === //
b,
strong {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 16px;
}

dfn,
em {
  font-style: italic;
}

mark {
  background-color: #ffff00;
  color: #000;
}

p {
  margin: 0;
  padding: 1em 0;
  font-size: $base-font-size;
  text-indent: 1em;
}

svg {
  fill: $theme-darkest;

  &:hover {
    fill: $theme-lightest;
  }
}

$heading-font-stack: "Kaushan Script", cursive;
$body-font-stack: "Pavanam", sans-serif;

@mixin heading-size($base-heading-size, $factor) {
  h1 {
    font: $base-heading-size $heading-font-stack;
  }
  @for $heading from 2 through 6 {
    $base-heading-size: $base-heading-size * $factor;
    h#{$heading} {
      font: $base-heading-size $heading-font-stack;
    }
  }
}

body {
  font-size: 18px;
  @include heading-size(3em, 0.8);
  font-family: $body-font-stack;
}
