// Divide the page into sections that hold modules
// Using Bourbon Neat grid
@import "../../node_modules/bourbon/core/bourbon";
@import "../../node_modules/bourbon-neat/core/neat";

// Grids defined mobile first
$neat-grid: (
  media: "screen and (max-width: 767px)",
  columns: 1,
  gutter: 1rem
);

$neat-grid-medium: (
  media: "screen and (min-width: 768px)",
  columns: 6,
  gutter: 1rem
);

$neat-grid-large: (
  media: "screen and (min-width: 1024px)",
  columns: 12,
  gutter: 1.25rem
);

// === MAIN CONTENT === //
.main-content {
  @include grid-container;
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-bottom: 150px;

  @include grid-media($neat-grid-medium) {
    @include grid-container($neat-grid-medium);
  }

  @include grid-media($neat-grid-large) {
    @include grid-container($neat-grid-large);
  }
}

.main-content-wrapper {
  height: 100%;

  @include grid-media($neat-grid-medium) {
    @include grid-collapse;
  }

  @include grid-media($neat-grid-large) {
    @include grid-collapse;
  }
}

// === FOOTER === //
footer {
  height: 50px;
  margin-top: -50px;
  overflow: hidden;
  background: $theme-darkest;
  font-family: $heading-font-stack;
  text-align: center;
}

.footer-content-wrapper {
  padding: 0.5em 0;
}
