//Font and Type Mixins

//The header-size mixin takes a $base-header-size, which is set for the h1.
//each header's font-size is reduced by the $factor passed to the mixin.
@mixin header-size($base-header-size, $factor) {
  h1 {
    font-size: $base-header-size;
  }
  @for $header from 2 through 6 {
    $base-header-size: $base-header-size * $factor;
    h#{$header} {
      font-size: $base-header-size;
    }
  }
}
