// Reusable, modular (e.g. callouts, sidebars, products lists, etc.)

/* === MODULES IN HEADER SECTION === */
/* === NAVBAR === */
.navbar-top {
  overflow: hidden;
  border-bottom: none;
  font-family: $heading-font-stack;
}

.nav-mobile-button {
  display: block;
  width: 100%;
  height: 2em;
  padding: 1em 0.5em 0.5em 0.5em;
  border-bottom: none !important;
  background: $theme-darkest;
  color: $theme-lightest;
  text-align: left;
  font-size: 1.33rem;

  @include grid-media($neat-grid-large) {
    display: none;
  }
}

.nav-link-wrapper {
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid $border-color;
  transition: height 0.66s ease-out;

  @include grid-media($neat-grid-large) {
    height: auto !important;
    overflow: auto;
  }
}

.navbar-pages {
  width: 100%;
  padding: 0;

  @include grid-media($neat-grid-large) {
    float: left;
    width: auto;
    padding-left: 5em;
  }
}

.navbar-pages li {
  position: relative;
  float: left;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid $border-color;
  font-size: 1.33rem;
  text-align: left;

  & a {
    color: $nav-link-base-color;
  }

  & a:hover {
    color: $nav-link-hover-color;
  }
  & a:active {
    color: $nav-link-active-color;
  }

  @include grid-media($neat-grid-large) {
    width: auto;
    padding: 0.8em 1.5em;
    border-bottom: none;
    font-size: 1.2rem;
  }
}

.navbar-social {
  float: left;
  width: 100%;

  @include grid-media($neat-grid-large) {
    float: right;
    width: auto;
  }
}

.navbar-social li {
  display: block;
  float: left;
  position: relative;
  padding: 1.2em;
  max-width: 24px;
  max-height: 24px;
  transition: all 0.5s linear;

  & a > svg {
    fill: $theme-darkest;
  }

  &.linkedin:hover {
    background: $linkedin-blue;

    svg {
      fill: $theme-lightest;
    }
  }

  &.twitter:hover {
    background: $twitter-blue;

    svg {
      fill: $theme-lightest;
    }
  }

  &.goodreads:hover {
    background: $goodreads-brown;

    svg {
      fill: $theme-lightest;
    }
  }

  @include grid-media($neat-grid-large) {
    float: left;
    border-left: 1px solid $border-color;
  }
}
/* === END NAV STYLES === */

.page-title {
  margin-bottom: 0;
  padding: 0.5rem;
  text-align: center;
}

.subtitle {
  max-width: 768px;
  text-align: center;
  margin: 0 auto 2rem auto;

  @include grid-media($neat-grid-large) {
    max-width: 1024px;
  }
}
/* === END HEADER MODULES === */

/* === MAIN CONTENT MODULES === */
/* === HOME, ABOUT, AND BOOK DETAIL PAGES USE FEATURE LAYOUT === */
.feature-image-wrapper {
  position: relative;
  @include grid-column(1);
  margin-bottom: -8.33rem;
  text-align: center;

  @include grid-media($neat-grid-medium) {
    @include grid-column(6);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(2.5);
    @include grid-shift(0.75);
    z-index: 1;
    margin-bottom: 0;
    margin-top: 3rem;
  }
}

.feature-image {
  width: 200px;
  background: $theme-lightest;
  border: double $theme-darkest;
  box-shadow: 0.33rem 0.33rem 0 $shadow-color;

  @include grid-media($neat-grid-large) {
    min-width: 230px;
    height: auto;
  }
}

.feature-text-wrapper {
  @include grid-column(1);
  box-sizing: border-box;
  margin-top: 1rem;
  padding-top: 1rem;
  border-radius: 7px;

  @include grid-media($neat-grid-medium) {
    @include grid-column(6);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(9.5);
    @include grid-shift(-0.75);
  }

  &.about {
    @include colorDecorator($about-bg-color, 20%);
  }
  &.splendiferous {
    @include colorDecorator($splendiferous-bg-color, 20%);
  }
  &.founding {
    @include colorDecorator($founding-bg-color, 20%);
  }
  &.slinging {
    @include colorDecorator($slinging-bg-color, 20%);
  }
  &.turkey {
    @include colorDecorator($turkey-bg-color, 20%);
  }
  &.dewdroppers {
    @include colorDecorator($dewdroppers-bg-color, 20%);
  }
}

.feature-text {
  @include grid-column(0.9 of 1);
  @include grid-push(0.05 of 1);
  margin-top: 6.33rem;

  @include grid-media($neat-grid-medium) {
    @include grid-column(5.5 of 6);
    @include grid-push(0.25 of 6);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(6 of 8);
    @include grid-push(1.5 of 8);
    margin-top: 0;
  }
}

.feature-text h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.feature-text p {
  text-align: left;
  margin: 0.25rem 0rem;
  padding: 0.5rem 0rem;

  @include grid-media($neat-grid-medium) {
    padding: 0.5rem;
  }

  &.review {
    font-size: 0.9rem;
    text-indent: 0;
  }
}

.feature-text span {
  padding-left: 1em;
}

// hr shape inspiration from:
// https://css-tricks.com/simple-styles-for-horizontal-rules/
.feature-text hr,
.feature-contact-wrapper hr,
.feature-buy-wrapper hr {
  height: 30px;
  margin-bottom: -15px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-radius: 20px;

  &:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -35px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
  &.about {
    color: lighten($about-bg-color, 20%);
  }
  &.splendiferous {
    color: lighten($splendiferous-bg-color, 20%);
  }
  &.founding {
    color: lighten($founding-bg-color, 20%);
  }
  &.slinging {
    color: lighten($slinging-bg-color, 20%);
  }
  &.turkey {
    color: lighten($turkey-bg-color, 20%);
  }
  &.dewdroppers {
    color: lighten($dewdroppers-bg-color, 20%);
  }
}

.feature-contact-wrapper,
.feature-buy-wrapper {
  @include grid-column(0.9 of 1);
  @include grid-push(0.05 of 1);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  @include grid-media($neat-grid-medium) {
    @include grid-column(5.5 of 6);
    @include grid-push(0.25 of 6);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(6 of 8);
    @include grid-push(1.5 of 8);
  }
}

.feature-contact-wrapper h4,
.feature-buy-wrapper h4 {
  margin: 0 auto;
}

.feature-contact-links,
.feature-buy-links {
  li {
    display: inline-block;
    margin: 0.5rem;
  }
  span {
    display: block;
  }
}

/* === BOOKS AND CLIPS PAGES USE COLLECTION LAYOUT === */
.collection-item-wrapper {
  @include grid-column(1);
  box-sizing: border-box;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 750ms ease-in-out;

  &:hover {
    &.splendiferous {
      @include colorDecorator($splendiferous-bg-color, 20%);
    }
    &.founding {
      @include colorDecorator($founding-bg-color, 20%);
    }
    &.slinging {
      @include colorDecorator($slinging-bg-color, 20%);
    }
    &.turkey {
      @include colorDecorator($turkey-bg-color, 20%);
    }
    &.dewdroppers {
      @include colorDecorator($dewdroppers-bg-color, 20%);
    }
    &.clip {
      @include colorDecorator($clip-bg-color, 50%);
      color: lighten($clip-bg-color, 50%);
    }
  }

  @include grid-media($neat-grid-medium) {
    @include grid-column(3);
    position: relative;
    &:nth-child(2n + 1) {
      clear: left;
    }
    &:nth-child(2n + 1):last-child {
      @include grid-push(1.5);
    }
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(4);
    &:nth-child(2n + 1) {
      clear: none;
    }
    &:nth-child(3n + 1) {
      clear: left;
    }
    &:nth-child(3n + 1):nth-last-child(2) {
      @include grid-push(2);
    }
    &:nth-child(2n + 1):last-child {
      @include grid-push(0);
    }
    &:nth-child(3n + 1):last-child {
      @include grid-push(4);
    }
  }
}

.collection-item-image-wrapper {
  min-height: 305px;
}

.collection-item img {
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: auto;
  margin: 0 auto 1rem auto;
  border: double $theme-darkest;
  box-shadow: 0.33rem 0.33rem 0 $shadow-color;
}

.collection-item-text-wrapper {
  padding: 0 1rem;
}

// min-height of collection-item headings and paragraphs keep buttons aligned
// without absolution positioning
.collection-item {
  h2,
  h3,
  h4,
  h5,
  h6 {
    min-height: 3.8rem;
    text-align: center;
    margin-bottom: 0;
  }
}

.collection-item h5.book {
  min-height: 2.4rem;

  @include grid-media($neat-grid-large) {
    min-height: 3.8rem;
  }
}

.clip .collection-item-text-wrapper p {
  max-width: 550px;
  margin: auto;

  @include grid-media($neat-grid-medium) {
    min-height: 160px;
  }
  @include grid-media($neat-grid-large) {
    min-height: 180px;
  }
}

.book .collection-item-text-wrapper p {
  max-width: 450px;
  margin: auto;

  @include grid-media($neat-grid-medium) {
    min-height: 90px;
  }
}

.collection-item-text-wrapper button {
  display: block;
  width: 50%;
  height: 2rem;
  margin: 0 auto;
  background: $theme-lightest;
  border: double $theme-darkest;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

/* === FOOTER MODULES === */
.copyright {
  color: $theme-lightest;
}
